<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .container{
             height: 100vh;
         }
         .content-box{
             font-family: 'Poppins', sans-serif;
             width: 400px;
         }
         .input-box{
             width: 100%;
         }
         a {
             text-decoration: none;
         }
         .btn{
             width: 100%;
         } 
     </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="content-box">
            <h1 class="mb-3 text-primary">Update User Details</h1>
            <form action="/adminUserUpdate" method="POST">
                <input class="input-box mb-2 form-control" type="text" placeholder="Fullname" name="fullname" value="{{.Userdata.Fullname}}">
                <span>{{.Error.InvalidFullname}}</span>

                <input class="input-box mb-2 form-control form-control-md" type="email" placeholder="Email" name="email" value="{{.Userdata.Email}}">
                <span>{{.Error.InvalidEmail}}</span>

                <input class="input-box mb-2 form-control" type="password" placeholder="Password" name="password" value="{{.Userdata.Password}}">
                <span>{{.Error.InvalidPassword}}</span>

                <button class="btn btn-primary mb-2 mt-1" type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>
